[submodule "stack-utils"]
	path = cli
	url = https://github.com/canonical/inference-snaps-cli.git
[submodule "famous-models-dev"]
	path = dev
	url = https://github.com/canonical/inference-snaps-dev.git
